@media screen and (max-width:1366px) {
    .section-content{
        width: 101.2%;
    }
    .button-firefox{
        margin-left: 177px;
    }
}
@media screen and (min-width:1600px){
    .button-firefox-div{
        margin-left: 380px;
    }
    .section-content{
        width: 101%;
    }
    
}
@media screen and (min-width:1440px){
    .button-firefox{
        margin-left: 240px;
    }
    .section-content{
        width: 101.1%;
    }
}
body{
    font-family: 'Zilla Slab', serif;
    font-size: 1rem;
    line-height: 1.5;
}
ul{
    list-style: none;
}
img{
    padding-top: 0;
	height: auto;
	max-width: 100%;
}
h1, h2, h3, h4, h5, h6, legend{
    font-weight: 700;
    line-height: 1.1;
    margin: 0 0 .25em;
    padding: 0;
    letter-spacing: 1px;
}
.top-bar-navigation{
    margin-left: 100px;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 0px;
    line-height: 27px;
    font-size: 18px;
}
.top-nav{
	display: inline-block;
	margin-left: -28px;
}
.top-nav-bar-items{
	display: inline-block;
}
.top-nav-bar-items ul{
    /* margin-top: 0px; */
    /* margin-bottom: -85px; */
    /* margin-left: 60px; */
    line-height: 27px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 18px;
    padding-bottom: 0px;
}
.top-bar-nav-container{
    padding: 0px;
    position: relative;
    font-family: 'Zilla Slab',serif;
}
.list-items li{
    font-family: Inter,X-LocaleSpecific,sans-serif;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 0px;
    min-height: 40px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    display: block;
    float: left;
    list-style-position: outside;
    list-style-type: none;
}
.list-items a{
    font-size: 15.75px;
    /* font-weight: 400; */
    line-height: 23.6333px;
    margin-bottom: 0px;
    min-height: 40px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 0px;
    position: relative;
    z-index: auto;
    list-style-position: outside;
}
.logo-mozilla-div{
    /* height: 112px; */
    /* width: 32px; */
    float: left;
    line-height: 27px;
    margin-left: 0px;
    margin-right: 48px;
    margin-top: 24px;
}
.logo-mozilla-div a{
    white-space: nowrap;
}
.firefox-item{
    text-decoration: none;
    font-size: .875rem;
    padding: 0 24px 24px;
    border-bottom: none;
    align-items: center;
    display: flex;
    font-family: Inter,X-LocaleSpecific,sans-serif;
    line-height: 1.5;
    color: #000;
    font-weight: 700;
    /* margin-bottom: 0px;
    min-height: 40px;
    position: relative; */
}
.projetos-item{
    text-decoration: none;
    font-size: .875rem;
    padding: 0 24px 24px;
    border-bottom: none;
    align-items: center;
    display: flex;
    font-family: Inter,X-LocaleSpecific,sans-serif;
    line-height: 1.5;
    color: #000;
    font-weight: 700;
}
.desenvolvedores-item{
    text-decoration: none;
    font-size: .875rem;
    padding: 0 24px 24px;
    border-bottom: none;
    align-items: center;
    display: flex;
    font-family: Inter,X-LocaleSpecific,sans-serif;
    line-height: 1.5;
    color: #000;
    font-weight: 700;
}
.sobre-item{
    text-decoration: none;
    font-size: .875rem;
    padding: 0 24px 24px;
    border-bottom: none;
    align-items: center;
    display: flex;
    font-family: Inter,X-LocaleSpecific,sans-serif;
    line-height: 1.5;
    color: #000;
    font-weight: 700;
}
.item-firefox{
    float: left;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.item-projects{
    float: left;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.item-developers{
    float: left;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.item-about{
    float: left;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.button-firefox{
	font-family: Inter,X-LocaleSpecific,sans-serif;
    font-size: 18px;
    font-size: .875rem;
    background-image: none;
    border-radius: 2px;
    border: 2px solid #0060df;
    box-shadow: none;
    display: inline-block;
    font-weight: 700;
    padding: 8px 16px;
    text-decoration: none;
    line-height: 1.3;
}
.button-firefox-div{
    text-align: center;
    padding-left: 0;
    line-height: 27px;
    display: inline-block;
    /* background-color: #0060df;
    border-color: #0060df;
    color: #fff; */
}
.button-firefox-div a:hover{
    font-family: Inter,X-LocaleSpecific,sans-serif;;
    background-color: #0060df;
    border-color: #0060df;
    color: #fff;
	
}
.firefox-exclusive-small-link{
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 4px;

    margin-right: 0%;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: right;
} 
.firefox-exclusive-small-link :hover{
    color: #000;
    text-decoration: underline;
    line-height: 1.5;
}
.small-link{
    color: inherit;
    font-family: Inter,X-LocaleSpecific,sans-serif;
    /* text-decoration: underline; */
    font-size: 11.25px;
    line-height: 16.8833px;
    text-align: right;
    text-decoration: rgb(0, 0, 0);
    /*text-decoration-color:  rgb(0, 0, 0);
    text-decoration-line: none;
    text-decoration-style: solid; */
}
.section-content{
    text-align: left;
    font-family: "Open Sans",X-LocaleSpecific,sans-serif;
    background: url("https://www.mozilla.org/media/img/firefox/quantum/fox-tail-header.075d5293f79a.png") center center no-repeat,linear-gradient(to bottom,#0060df 7%, #0096ff 100%);
    color: #fff;
    padding: 40px 0;
    display: block;
    background-attachment: scroll,scroll;
    background-clip: border-box,border-box;
    background-size: 116%;
}
.inner-mid-bar-content{
    align-items: center;
    display: flex;
    padding: 0;
    margin: 0 auto;
    max-width: 1420px;
}
.inner-content h2{
    font-size: 2.6667rem;
    font-size: 48px;
    margin-bottom: 1em;
}
.innercontent p{
    margin: 0 0 1em;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    max-width: 26em;
}
#text-logo{
    font-size: 2rem;
    font-size: 36px;
    display: block;
    margin-bottom: 1em;
}
#text-logo::before{
    background-image:url("https://www.mozilla.org/media/img/logos/firefox/logo-quantum.9c5e96634f92.png");
    background-size: 66px;
    display: inline-block;
    height: 66px;
    padding-bottom: 0;
    margin: 0 10px -19px 0;
    width: 66px;
    background-repeat: no-repeat;
    content: '';
}
.download-link{
    line-height: 24px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    font-size: .88889rem;
    font-family: "Open Sans",X-LocaleSpecific,sans-serif;
    background: 0 0;
    background-color: rgba(0, 0, 0, 0);
    background-clip: border-box;
    background-attachment: scroll;
    background-image: none;
    background-origin: padding-box;
    background-position: 0px 0px;
    background-repeat: repeat;
    background-size: auto;
    border-radius: 2px;
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    padding: .9em 40px;
    padding-top: 14.4px;
    padding-left: 40px;
    padding-right: 40px;
    list-style-position: outside;
    padding-bottom: 14.4px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    transition: background-color .1s ease-in-out,border-color .1s ease-in-out;
    border-color: #12bc00;
    background-color:  #12bc00
}
.download-link:hover,.download-link:focus{
    background-color: #10a300;
    border-color: #10a300;
    text-decoration: none;
    font-family: "Open Sans", X-LocaleSpecific, sans-serif;
}
.download-link a{
}
.download-title{
    color: #fff;
    font-family: "Open Sans", X-LocaleSpecific, sans-serif;
}
.download-button{
    font-size: 16px;
    font-size: .88889rem;
    font-family: "Open Sans", X-LocaleSpecific, sans-serif;
    cursor:pointer;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-left: -40px;
}
.download-list{
    list-style-type: none;
    margin-bottom: 10px;
}
.download-list li{
	margin-left: 0;
}
.windows64{
	display: block !important;
}
.privacy{
    font-size: .66667rem;
    text-align: center;
    font-family: "Open Sans",X-LocaleSpecific,sans-serif;
    display: block;
}
.privacy a{
    text-decoration: none;
    color:#fff;
    font-family: "Open Sans",X-LocaleSpecific,sans-serif;
}
.privacy a:hover{
    text-decoration: underline;
}
.privacy a:link{
    color: #fff;
}
#bruh{
	font-family: "Open Sans",X-LocaleSpecific,sans-serif;
	color: #fff;
}
#bruh .inner-mid-bar-content{
    align-items: center;
    display: flex;
    padding: 0;
    margin: 0 auto;
    max-width: 1420px;
}
#bruh .inner-content{
    width: calc(40%-(40px+84px));
    float: none;
    margin-right: 40px;
    padding-left: 84px;
    text-align: left;
    color: #fff;
}
#bruh .inner-content h2{
    font-size: 2.6667rem;
    font-size: 48px;
    margin-bottom: 1em;
}
#bruh .innercontent p{
    margin: 0 0 1em;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    max-width: 26em;
}
#bruh p{
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.5;
    max-width: 26em;	
    margin: 0 0 1em;
}
#bruh h2{
    font-size: 2.66667rem;
    margin-bottom: 1em;
}
#bruh .laptop{
    /* width: 60%; */
    float: none;
    display: block;
}